#first-project {
    background-image: url(../images/02-portfolio-1.jpg);
}

#second-project {
    background-image: url(images/02-portfolio-2.jpg);
}

#third-project {
    background-image: url(images/02-portfolio-3.jpg);
}

#fourth-project {
    background-image: url(images/02-portfolio-4.jpg);
}

#fifth-project {
    background-image: url(images/02-run-buddy.jpg);
}